workflows/core/job-hunter-orchestrator.json
{
  "name": "Job Hunter - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keywords",
              "name": "searchCriteria.keywords",
              "value": "=software engineer, developer, full stack, backend, frontend",
              "type": "string"
            },
            {
              "id": "locations",
              "name": "searchCriteria.locations",
              "value": "=remote, San Francisco, New York, Austin",
              "type": "string"
            },
            {
              "id": "experienceLevels",
              "name": "searchCriteria.experienceLevels",
              "value": "=mid-level, senior",
              "type": "string"
            },
            {
              "id": "minSalary",
              "name": "searchCriteria.minSalary",
              "value": 80000,
              "type": "number"
            },
            {
              "id": "maxSalary",
              "name": "searchCriteria.maxSalary",
              "value": 180000,
              "type": "number"
            },
            {
              "id": "jobTypes",
              "name": "searchCriteria.jobTypes",
              "value": "=full-time, contract",
              "type": "string"
            },
            {
              "id": "excludeKeywords",
              "name": "searchCriteria.excludeKeywords",
              "value": "=unpaid, commission only, internship",
              "type": "string"
            },
            {
              "id": "enableLinkedIn",
              "name": "platforms.linkedinEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "enableIndeed",
              "name": "platforms.indeedEnabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "enableRemote",
              "name": "platforms.remoteEnabled",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-configuration",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ],
      "notes": "Configure your job search criteria here:\n- Keywords: Job titles/skills to search for\n- Locations: Preferred locations or 'remote'\n- Experience Levels: junior, mid-level, senior\n- Salary Range: Min and max salary\n- Job Types: full-time, part-time, contract\n- Exclude Keywords: Terms to filter out\n- Platforms: Enable/disable specific job boards"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "={{ $json.platforms.linkedinEnabled ? 'enabled' : 'disabled' }}"
      },
      "id": "check-linkedin-enabled",
      "name": "LinkedIn Enabled?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "={{ $json.platforms.indeedEnabled ? 'enabled' : 'disabled' }}"
      },
      "id": "check-indeed-enabled",
      "name": "Indeed Enabled?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        350
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "={{ $json.platforms.remoteEnabled ? 'enabled' : 'disabled' }}"
      },
      "id": "check-remote-enabled",
      "name": "Remote Jobs Enabled?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.name.includes('LinkedIn') ? $workflow.id : 'Job Scraper - LinkedIn' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-linkedin",
      "name": "Execute LinkedIn Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        850,
        150
      ],
      "notes": "Scrapes job listings from LinkedIn based on your search criteria"
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.name.includes('Indeed') ? $workflow.id : 'Job Scraper - Indeed' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-indeed",
      "name": "Execute Indeed Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        850,
        350
      ],
      "notes": "Scrapes job listings from Indeed based on your search criteria"
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.name.includes('Remote') ? $workflow.id : 'Job Scraper - Remote Boards' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-remote-jobs",
      "name": "Execute Remote Jobs Scraper",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        850,
        500
      ],
      "notes": "Scrapes remote job listings from Remote.co, WWR, etc."
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "id": "merge-results",
      "name": "Merge All Job Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1100,
        350
      ]
    },
    {
      "parameters": {
        "workflowId": "Job Processor - Deduplication",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-deduplication",
      "name": "Execute Deduplication",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "workflowId": "Job Processor - Enrichment & Analysis",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-enrichment",
      "name": "Execute Job Enrichment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1500,
        350
      ]
    },
    {
      "parameters": {
        "workflowId": "Job Storage - Database Operations",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-storage",
      "name": "Execute Database Storage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1700,
        350
      ]
    },
    {
      "parameters": {
        "workflowId": "Notifications - Multi-Channel Alerts",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-notifications",
      "name": "Execute Notifications",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1900,
        350
      ]
    },
    {
      "parameters": {
        "content": "## Job Hunter Orchestrator\n\n### Configuration\n**All settings in 'Set Configuration' node** - Click to edit:\n- Search keywords\n- Locations\n- Salary range\n- Job types\n- Enable/disable platforms\n\n### Workflow Steps:\n1. **Set Configuration** - Edit search criteria here\n2. **LinkedIn/Indeed/Remote** - Parallel job scraping\n3. **Merge Results** - Combine all sources\n4. **Deduplication** - Remove duplicates\n5. **Enrichment** - Add AI analysis\n6. **Storage** - Save to database\n7. **Notifications** - Send alerts\n\n### Quick Start:\n1. Click 'Set Configuration' and update search criteria\n2. Configure credentials (LinkedIn, DB, SMTP)\n3. Activate workflow\n4. Jobs will be scraped every 6 hours\n\n### Manual Test:\nClick 'Execute Workflow' to test immediately",
        "height": 523.4507042253521,
        "width": 420.5633802816901,
        "color": 4
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        100
      ]
    }
  ],
  "connections": {
    "Schedule Trigger - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "LinkedIn Enabled?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Indeed Enabled?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remote Jobs Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Enabled?": {
      "enabled": [
        [
          {
            "node": "Execute LinkedIn Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indeed Enabled?": {
      "enabled": [
        [
          {
            "node": "Execute Indeed Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remote Jobs Enabled?": {
      "enabled": [
        [
          {
            "node": "Execute Remote Jobs Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute LinkedIn Scraper": {
      "main": [
        [
          {
            "node": "Merge All Job Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Indeed Scraper": {
      "main": [
        [
          {
            "node": "Merge All Job Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Remote Jobs Scraper": {
      "main": [
        [
          {
            "node": "Merge All Job Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Job Results": {
      "main": [
        [
          {
            "node": "Execute Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Deduplication": {
      "main": [
        [
          {
            "node": "Execute Job Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Job Enrichment": {
      "main": [
        [
          {
            "node": "Execute Database Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Database Storage": {
      "main": [
        [
          {
            "node": "Execute Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "core",
      "name": "core"
    },
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "orchestrator",
      "name": "orchestrator"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "2"
}
