workflows/sub-workflows/database-storage.json
{
  "name": "Job Storage - Database Operations",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (id, source, title, company, location, description, salary_min, salary_max, url, posted_date, job_type, experience_level, scraped_at, metadata)\nVALUES \n  (:id, :source, :title, :company, :location, :description, :salaryMin, :salaryMax, :url, :postedDate, :jobType, :experienceLevel, :scrapedAt, :metadata::jsonb)\nON CONFLICT (source, id) \nDO UPDATE SET\n  title = EXCLUDED.title,\n  company = EXCLUDED.company,\n  location = EXCLUDED.location,\n  description = EXCLUDED.description,\n  salary_min = EXCLUDED.salary_min,\n  salary_max = EXCLUDED.salary_max,\n  url = EXCLUDED.url,\n  posted_date = EXCLUDED.posted_date,\n  job_type = EXCLUDED.job_type,\n  experience_level = EXCLUDED.experience_level,\n  metadata = EXCLUDED.metadata,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;",
        "options": {
          "queryBatching": "transaction",
          "queryReplacement": ":id,:source,:title,:company,:location,:description,:salaryMin,:salaryMax,:url,:postedDate,:jobType,:experienceLevel,:scrapedAt,:metadata"
        }
      },
      "id": "insert-jobs",
      "name": "Insert/Update Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for database insertion\nconst jobs = $input.all();\nconst prepared = [];\n\nfor (const item of jobs) {\n  const job = item.json;\n  \n  prepared.push({\n    json: {\n      id: job.id,\n      source: job.source,\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      description: job.description,\n      salaryMin: job.salary?.min || null,\n      salaryMax: job.salary?.max || null,\n      url: job.url,\n      postedDate: job.postedDate,\n      jobType: job.jobType,\n      experienceLevel: job.experienceLevel,\n      scrapedAt: job.scrapedAt,\n      metadata: JSON.stringify(job.metadata || {})\n    }\n  });\n}\n\nreturn prepared;"
      },
      "id": "prepare-data",
      "name": "Prepare Data for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create jobs table if not exists\nCREATE TABLE IF NOT EXISTS jobs (\n  id VARCHAR(255) NOT NULL,\n  source VARCHAR(50) NOT NULL,\n  title VARCHAR(500) NOT NULL,\n  company VARCHAR(255) NOT NULL,\n  location VARCHAR(255),\n  description TEXT,\n  salary_min INTEGER,\n  salary_max INTEGER,\n  url TEXT NOT NULL,\n  posted_date TIMESTAMP,\n  job_type VARCHAR(50),\n  experience_level VARCHAR(50),\n  scraped_at TIMESTAMP NOT NULL,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  metadata JSONB,\n  PRIMARY KEY (source, id)\n);\n\n-- Create indexes for better query performance\nCREATE INDEX IF NOT EXISTS idx_jobs_posted_date ON jobs(posted_date DESC);\nCREATE INDEX IF NOT EXISTS idx_jobs_company ON jobs(company);\nCREATE INDEX IF NOT EXISTS idx_jobs_location ON jobs(location);\nCREATE INDEX IF NOT EXISTS idx_jobs_scraped_at ON jobs(scraped_at DESC);\nCREATE INDEX IF NOT EXISTS idx_jobs_title ON jobs USING GIN(to_tsvector('english', title));\nCREATE INDEX IF NOT EXISTS idx_jobs_description ON jobs USING GIN(to_tsvector('english', description));\n\n-- Create applications tracking table\nCREATE TABLE IF NOT EXISTS applications (\n  id SERIAL PRIMARY KEY,\n  job_source VARCHAR(50) NOT NULL,\n  job_id VARCHAR(255) NOT NULL,\n  status VARCHAR(50) DEFAULT 'pending',\n  applied_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  notes TEXT,\n  FOREIGN KEY (job_source, job_id) REFERENCES jobs(source, id)\n);\n\nCREATE INDEX IF NOT EXISTS idx_applications_status ON applications(status);\nCREATE INDEX IF NOT EXISTS idx_applications_applied_at ON applications(applied_at DESC);"
      },
      "id": "init-schema",
      "name": "Initialize Database Schema",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        500
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-count",
              "name": "result.inserted",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "result-timestamp",
              "name": "result.timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "add-metadata",
      "name": "Add Result Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Database Storage Module\n\n### Features\n- Auto-creates schema on first run\n- Upserts jobs (insert or update)\n- Prevents duplicates via composite key\n- Optimized indexes for search\n- Full-text search support\n- Tracks applications\n\n### Schema\n**jobs table**:\n- Stores all job listings\n- Indexed for performance\n- Full-text search on title/description\n\n**applications table**:\n- Tracks application status\n- Links to jobs table",
        "height": 442.1288515406162,
        "width": 339.91525423728817,
        "color": 6
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        520
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Data for DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Database Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for DB": {
      "main": [
        [
          {
            "node": "Insert/Update Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert/Update Jobs": {
      "main": [
        [
          {
            "node": "Add Result Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "storage",
      "name": "storage"
    },
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "database",
      "name": "database"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}
